* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #f9f9f9;
  padding: 160px 20px;
  margin: 0 auto;
}

.content {
  align-content: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: left;
}

.hero-main {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align content to the left within the container */
}

.skills {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  margin: 0;
}

h1 {
  font-family: Poppins;
  align-items: center;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 500;
  margin-left: 0 auto;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0;
}

.hero-text p {
  font-family: Mulish, sans-serif;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
}

.hero-buttons {
  margin-top: 0px;
}

.hero-buttons a {
  background-color: #ff96c8;
  color: white;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
}

.hero-buttons a:hover {
  background-color: #fe5e9e;
}

p {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.skills p {
  margin-right: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0px;
}

.social-icons a {
  color: #555;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff96c8;
}

.social-icons i {
  transition: color 0.3s;
}
